
.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #fff;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.box .custom-underline::after {
  top: 100%;
  height: 2px;
  width: 0%;
  left: 0;
  background-color: rgba(243, 4, 4, 0.6);
    transition: 0.5s ease all .1s;
}

.box:hover .custom-underline::after {
  width: 90%;
    transition: 0.3s ease all;
}

.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}